@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-outfit: "Outfit", sans-serif;
}

body {
	font-family: var(--font-outfit);
}
